body {
  background-image: url("../Images/background-blue.png");
  animation: 90s scroll infinite linear;
  #acteur
  {
    position: absolute;
    top: 90%;
  }
  .lo{
    display: inline-block;
  }
  #cadre_ennemie
  {
    top: 1%;
  }

  @keyframes scroll {
    100% {
      background-position: 0px -3000px;
    }
  }
}

#enemi
{
  position: relative;
  left: 3%;
  top: 0;
}
#enemie2
{
  position: relative;
  left: 5%;
  top: 0;

}
#enemie3
{
  position: relative;
  left: 7%;
  top: 0%;

}
.lo{
  display: inline-block;
}
#cadre_ennemie
{
  position: absolute;
  top: 1%;
  display: inline-block;
}